*{
    box-sizing: border-box;
}
.wrapper{
   
    width: 80%;
    margin: 0 auto;
   
    margin-top: 1rem;
    padding: 5rem 2rem;
    

}
.display-flex-sb{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.gird{
    display: grid;
    grid-template-columns: 1fr;
}
.left-content::after{
    margin-top: 5px;
      margin-left: -1rem;
    content:'';
    width: 120%;
    height: 3px;
    background-color: rgb(210, 122, 51);
}

.middle-content::after{
    margin-top: 5px;
      margin-left: -1rem;
    content:'';
    width: 120%;
    height: 3px;
    background-color: rgb(75, 211, 202);
}

.right-content::after{
    margin-top: 5px;
    margin-left: -1rem;
    content:'';
    width: 120%;
    height: 3px;
    background-color: rgb(166, 65, 186);
}
.number{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.text{
    font-size: 1.5rem;
    font-weight: 500;
}
@media (max-width:600px) {
    .wrapper{
        flex-direction: column;
        gap:2rem;
    }
}